<body class="main-page">
<h1>{{title}}</h1>
<h1 id="welcome">Welcome to The Tea Tree!{{title}}</h1>
<h2 id="sub-welcome">"A resource for tea lovers"</h2>
<a href="/user/new">
<button class="btn btn-light" id="enter-button">Get Started</button>
</a>
</body>