<main>
<h1>List of Users</h1>

{{#each users}}
<h2>{{name}}</h2>
{{/each}}
<a href="/user/:id/update">
    <button>Update This User</button>
</a>

<form id="delete-user" action="/user/{{user._id}}?_method=DELETE" method="POST">
    
<button type='submit' class="btn btn-light" id="enter-button">Delete This User</button>
</form>
</main> 
</main>