<h1>Welcome To Your Tea Tree, {{user.name}}!</h1>

<p>{{teas}}</p>
<a href='/teas'>
<button>See All Teas</button>
</a>
<form id="delete-user" action="/user/{{user._id}}?_method=DELETE" method="POST">
<button type='submit' class="btn btn-light" id="enter-button">Delete Your Tree</button>
</form> 
<a href="">
    <button>Update This User</button>
</a>
<!--goes back to home page-->
<button class="btn btn-light" id="enter-button">
<a href="/">Return to Home Page</a>
</button>