body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}

img {
  height: 340px;
}
.main-page {
  background: url('../images/tea.jpg');
  background-size: cover;
}
#welcome {
  font-family: 'Shadows Into Light', cursive;
  color: whitesmoke;
  text-align: center;
  font-size: 10em;
  text-shadow: 2px 2px 4px #000000;
}
#sub-welcome {
  font-family: 'Shadows Into Light', cursive;
  color: whitesmoke;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}
#enter-button {
  margin-left: 45%;
  margin-right: 35%;
  margin-top: 20%;
}

.create-user {
  background: url('../images/long-tea-pic.jpg');
  background-size: cover;
}

.create-user-main {
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  margin-top: 90%;
}

#delete-user {
  background-color: blanchedalmond;
  margin-top: 20%;
}

.card {
  display: inline-block;
  justify-content: center;
}

