body {
  background: url('../images/tea.jpg');
  background-size: cover;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Shadows Into Light', cursive;
}

a {
  color: #00B7FF;
}

#welcome {
  color: whitesmoke;
  text-align: center;
  font-size: 10em;
  text-shadow: 30px;
}