<main>
{{#each teas}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=".../100px180/" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{typeOfTea}}</h5>
    <p class="card-text">{{mood}}</p>
    <p>{{caffiene_content}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>

  </div>
</div>
{{/each}}
</main>